<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} <b>Marché Build.</b> Tout droit réservé.
  </p>
  <!--
    Can we ask you a favor 🙏
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Crée par <a
      href="https://pcoiscript.xyz/"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Pcoi94
    </a>
  </p>
</footer>
